<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <File name="SendData" fileName="/tomcat/logs/sendData.log" immediateFlush="true" append="true">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        <File name="AllLogs" fileName="/tomcat/logs/all.log" immediateFlush="true" append="true">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="ERROR">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="AllLogs"/>
        </Root>

        <logger name="by.ipo.bo" level="ERROR" additivity="false">
            <AppenderRef ref="AllLogs"/>
        </logger>
        <logger name="by.ipo.bo" level="INFO" additivity="false">
            <Appender-ref ref="SendData"/>
        </logger>
        <logger name="by.ipo.entity.impl" level="ERROR" additivity="false">
            <AppenderRef ref="AllLogs"/>
        </logger>
        <logger name="by.ipo.entity.impl" level="INFO" additivity="false">
            <Appender-ref ref="SendData"/>
        </logger>
        <logger name="by.ipo.service" level="ERROR" additivity="false">
            <AppenderRef ref="AllLogs"/>
        </logger>
        <logger name="by.ipo.service" level="INFO" additivity="false">
            <Appender-ref ref="SendData"/>
        </logger>
    </Loggers>
</Configuration>
